<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
            <p class="mb-0">&raquo; Consulte todos os professores cadastrados no sistema</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicial</a></li>
            <li class="breadcrumb-item"><a href="/escola">Escola</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Professores</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="basic-form">
                    <form>
                        <div class="form-row">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Digite para pesquisar...">
                            </div>
                            <div class="col-auto mt-2 mt-lg-0">
                                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="/escola/professores/criar" class="btn btn-success">Novo Professor</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Especialidade</th>
                                <th>Instrumentos</th>
                                <th>Telefone</th>
                                <th>Valor/Hora</th>
                                <th>Turmas</th>
                                <th>Admissão</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < professores.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td>
                                        <a href="/pessoas/<%= professores[i].id %>/perfil" style="color: inherit; font-weight: 600;">
                                            <%= professores[i].nome %>
                                        </a>
                                    </td>
                                    <td><%= professores[i].especialidade || '-' %></td>
                                    <td><%= professores[i].instrumentosLecionados || '-' %></td>
                                    <td><%= professores[i].telefone || '-' %></td>
                                    <td><%= professores[i].valorHoraAula ? 'R$ ' + Number(professores[i].valorHoraAula).toFixed(2) : '-' %></td>
                                    <td>
                                        <span class="badge badge-info"><%= professores[i].turmasAtivas || 0 %></span>
                                    </td>
                                    <td>
                                        <% if (professores[i].dataAdmissao) { %>
                                            <%= new Date(professores[i].dataAdmissao).toLocaleDateString('pt-BR') %>
                                        <% } else { %>
                                            -
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (professores[i].statusProf === 'Ativo') { %>
                                            <span class="badge badge-primary"><%= professores[i].statusProf %></span>
                                        <% } else { %>
                                            <span class="badge badge-danger"><%= professores[i].statusProf || 'Inativo' %></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/escola/professores/<%= professores[i].id %>/editar" class="text-warning mr-2" title="Editar">
                                            <i class="fa fa-pencil fa-lg"></i>
                                        </a>
                                        <a href="/pessoas/<%= professores[i].id %>/perfil" class="text-primary" title="Ver Perfil">
                                            <i class="fa fa-user fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            <% } %>
                            <% if (professores.length === 0) { %>
                                <tr>
                                    <td colspan="10" class="text-center text-muted py-4">Nenhum professor cadastrado.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
