<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicial</a></li>
            <li class="breadcrumb-item"><a href="/responsaveis">Responsáveis</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)"><%= titulo %></a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="/responsaveis/<%= responsavel && responsavel.id ? responsavel.id + '/editar' : 'criar' %>" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="nome" value="<%= responsavel ? responsavel.nome : '' %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CPF</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="cpf" maxlength="11" value="<%= responsavel ? responsavel.cpf : '' %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">RG</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="rg" maxlength="20" value="<%= responsavel ? responsavel.rg : '' %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">E-mail</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" value="<%= responsavel ? (responsavel.email || '') : '' %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Telefone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="telefone" value="<%= responsavel ? responsavel.telefone : '' %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Data de Nascimento</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="dataNascimento" value="<%= responsavel ? responsavel.dataNascimento : '' %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Parentesco</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="parentesco" required>
                                <option value="">Selecione...</option>
                                <% ['Pai','Mae','Avo','Tio','Tia','Patrocinador','Outro'].forEach(p => { %>
                                    <option value="<%= p %>" <%= responsavel && responsavel.parentesco === p ? 'selected' : '' %>><%= p %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="/responsaveis" class="btn btn-light ml-2">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
