<% matricula = locals.matricula || {}; %>
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4><%= locals.titulo %></h4>
            <p class="mb-0">&raquo; <%= locals.subtitulo %></p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicial</a></li>
            <li class="breadcrumb-item active"><a href="/agenda">Consultar Matrículas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Remover Matrícula</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card border-danger">
            <div class="card-header bg-danger">
                <h4 class="card-title text-white mb-0">Remoção de Matrícula</h4>
            </div>
            <div class="card-body">
                <% if (locals.erro) { %>
                    <div class="alert alert-danger">
                        <strong>Não foi possível remover:</strong> <%= locals.erro %>
                    </div>
                <% } else { %>
                    <div class="alert alert-warning">
                        Esta ação é irreversível. Tem certeza que deseja remover a matrícula de <strong><%= matricula.aluno ? matricula.aluno.nome : '' %></strong>?
                    </div>
                <% } %>
                <div class="table-responsive mb-4">
                    <table class="table table-bordered mb-0">
                        <tbody>
                            <tr>
                                <th>Aluno</th>
                                <td><%= matricula.aluno ? matricula.aluno.nome : '-' %></td>
                            </tr>
                            <tr>
                                <th>Turma</th>
                                <td><%= matricula.turma ? matricula.turma.nome : '-' %></td>
                            </tr>
                            <tr>
                                <th>Frequência</th>
                                <td><%= matricula.frequencia %></td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td><%= matricula.statusAgenda %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% if (!locals.erro) { %>
                    <form action="/agenda/<%= matricula.aluno ? matricula.aluno.id : '' %>/<%= matricula.turma ? matricula.turma.id : '' %>/excluir" method="POST">
                        <button type="submit" class="btn btn-danger mr-2">Remover Matrícula</button>
                        <a href="/agenda" class="btn btn-warning">Cancelar</a>
                    </form>
                <% } else { %>
                    <a href="/agenda" class="btn btn-warning">Voltar</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
