<% curso = locals.curso || {}; %>
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4><%= locals.titulo %></h4>
            <p class="mb-0">&raquo; <%= locals.subtitulo %></p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicial</a></li>
            <li class="breadcrumb-item active"><a href="/cursos">Consultar Cursos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Remover Curso</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card border-danger">
            <div class="card-header bg-danger">
                <h4 class="card-title text-white mb-0">Remoção de Curso</h4>
            </div>
            <div class="card-body">
                <% if (locals.erro) { %>
                    <div class="alert alert-danger">
                        <strong>Não foi possível remover:</strong> <%= locals.erro %>
                    </div>
                <% } else { %>
                    <div class="alert alert-warning">
                        Esta ação é irreversível. Tem certeza que deseja remover o curso <strong><%= curso.nome %></strong>?
                    </div>
                <% } %>
                <div class="table-responsive mb-4">
                    <table class="table table-bordered mb-0">
                        <tbody>
                            <tr>
                                <th>Nome</th>
                                <td><%= curso.nome %></td>
                            </tr>
                            <tr>
                                <th>Instrumento</th>
                                <td><%= curso.instrumento %></td>
                            </tr>
                            <tr>
                                <th>Nível</th>
                                <td><%= curso.nivel %></td>
                            </tr>
                            <tr>
                                <th>Carga Horária</th>
                                <td><%= curso.cargaHoraria %>h</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% if (!locals.erro) { %>
                    <form action="/cursos/<%= curso.id %>/excluir" method="POST">
                        <button type="submit" class="btn btn-danger mr-2">Remover Curso</button>
                        <a href="/cursos" class="btn btn-warning">Cancelar</a>
                    </form>
                <% } else { %>
                    <a href="/cursos" class="btn btn-warning">Voltar</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
